.about-container .about-box{
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition:  0.5s ease;
}

.about-container .about-box:hover{
    border-color: var(--main-color);
    transform:  scale(1.01);
}

.about-box i{
    font-size: 4.3rem;
    color: var(--main-color);
}

.about-box h3{
    font-size: 1.5rem;
}

.about-box p{
    margin: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-box {
    flex: 1 1 30%; /* Adjust the percentage to control the width of each box */
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    margin-top: 0;
}

.Me{
    margin: 3% 0 5% 5%;
    text-align: justify;
}
